<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zudoku</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Play Zudoku</h1>
    <div id="sudoku-grid">
        {% for row in board %}
            {% for cell in row %}
                <div class="cell {{ 'fixed' if cell.value != 0 else '' }}"
                     contenteditable="{{ 'false' if cell.value != 0 else 'true' }}">
                    {{ cell.value if cell.value != 0 else '' }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    
    

    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
